.form-container {
  display: flex;
  position: relative;
  width: 55%;
  margin: 30px auto;
}

.icon-position {
  position: absolute;
  top: 25%;
  left: 3%;
}

.employ-main-heading {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  color: var(--first-primary-color);
  margin: 10px 0;
}

.table-heading-back {
  background-color: var(--first-primary-color);
  border-left: none !important;
}

.table-sub-head th {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding: 33px 28px !important;
  border-width: 0px 0px !important;
}

td {
  padding: 23px !important;
}

td:hover {
  background-color: #f1f0f7;
  cursor: pointer;
}

.employ-id {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 19px;
  color: #0A071B !important;
}

.employ-details{
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  margin: 0 !important;
  padding-bottom: 10px;
  color: #0A071B !important;
}

.form-control {
  color: gb(241, 241, 241) !important;
  padding: 15px 60px !important;
  border: 1px solid rgb(241, 241, 241) !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 40px !important;
  box-shadow: 4px 4px 5px rgb(241, 241, 241);
}

.form-control:focus{
  background-color: transparent;
  outline: none !important;
}



@media (max-width:700px) {
  .form-container {
    width: 90%;
  }
}